<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path do%>
    <img id='nav-logo' src="https://res.cloudinary.com/dguxqdu8p/image/upload/v1579820953/LogoMakr_8I2zKn_r2l0j3.png" alt="">
  <% end %>

  <button class="navbar-toggler icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon icon nav-link"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="sign-in-icons">
        <li>
          <% if user_signed_in? %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "icon nav-link" do %>
          <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </li>
      </div>
      <% else %>
      <li class="nav-item">
       <h6> <%= link_to user_session_path, class: "icon nav-link" do %> </h6>
       <i class="fas fa-user icon"> Guest Sign In</i>
     </li>
     <% end %>
     <% end %>
   </ul>
 </div>
</div>
