.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  max-height: 38px;

  h6 {
    margin: 0;
    padding: 0;
  }

  a {
    color: black;
    opacity: 1;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  opacity: 1
}

.fixed-top {
  opacity: .9;
  background: #F9F7F5;
}

#nav-logo {
  height: 40px;
  width: 130px
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    opacity: .8;
  }
}

#shopping-cart {
  font-size: 1em;
}

.icon.nav-link {
  padding: 0;
}

.navbar h6 {
  font-family: $headers-font;
}

.sign-in-icons {
  display: flex;
}
