.suggested-books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 46px;
}

.suggested-books-title {
  border-bottom: 1px solid grey;
}

.suggested-books {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 30px;
  margin: 40px;

  img {
    height: 100%;
    min-height: 300px;
    width: 200px;
    object-fit: cover;
  }
}

.suggested-book {
  &:hover {
    transition: all .2s ease-in-out;
    opacity: .7;
    transform: scale(1.1);
  }
}

